---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <figure>
            <img src="{{ post.preview }}">
            <caption>
              <h2>{{ post.title | escape }}</h2>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </caption>
          </figure>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
