@mixin MarginTop($size){
  @for $v from 1 through 4{
    .mt-#{$size}-#{$v*10}{margin-top: #{$v*10}px;}
  }
}

@mixin Pull($size){
  .pull-#{$size}-left{float: left!important;}
  .pull-#{$size}-right{float: right!important;}
}

@mixin Align($size){
  .text-#{$size}-right{text-align: right;}
  .text-#{$size}-center{text-align: center;}
  .text-#{$size}-left{text-align: left;}
}
